- var AlbDscr = "Албания подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные ия подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местахИз личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местах.";
- var ChDscr = "Албания подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям гороия подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные дского туризма.Интересными являются разве что набережные в туристических местахИз личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местах.";
- var UAIDscr = "Албания подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не ия подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местахИз личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местах.";

include ../mixins

.contant_top
	+createTopItem(
		"./img/Albaniya/1_1.png",
		"Албания",
		"./country_1.html",
		description=AlbDscr
		)
	+createTopItem(
		"./img/China/1_1.png",
		"Китай",
		"#",
		description=ChDscr
		)
	+createTopItem(
		"./img/Dybai/1_1.png",
		"ОАЭ",
		"#",
		description=UAIDscr
		)