footer
	margin-top: 50px
	display: grid
	background-color: $bgcFooter
	font-size: 16px
	height: 50px

	p
		padding-left: 10px
		align-self: center

@media (max-width: $mw)
	.footer
		font-size: 10px
		display: block
		margin: auto
		p
			text-align: center

