.table 	
	width: 90%
h2
	padding-left: 20px

.forma
	margin: 20px 30px

.list_table
	margin-top: 20px
	width: 90%
tr
	width: 50%
td
	text-align: center;

@media(max-width: 1000px) 
	.table 

		thead 
			left: -9999px;
			position: absolute;
			visibility: hidden;
	
	 
		tr 
			border-bottom: 0;
			display: flex;
			flex-direction: row;
			flex-direction: column; /* Изменено на column */
			align-items: center;
			margin: 20px auto
    
	 
		td
			border: 1px solid;
			margin: 0 -1px -1px 0;
			width: 100%; /* Изменено на 100% для занимания всей ширины */
			box-sizing: border-box
		
		tbody
			border: 1px solid white
    
